.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header-logo h1 {
  color: #fff;
  font-size: 24px;
}

.header-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-nav li {
  margin-left: 20px;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
}

.main-content {
  padding: 40px;
}

.product-list h2 {
  margin-bottom: 40px;
}

.product-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-item {
  background-color: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  position: relative;
  text-align: center;
}

.product-item img {
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.product-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-item p {
  color: #666;
  font-size: 18px;
}

.footer {
  background-color: #242424;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer li {
  display: inline;
  margin-left: 10px;
} 